@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style KpiScore :
.container__kpiscore {
  display: flex;
  justify-content: center;
  background-color: variables.$senary;
  border-radius: 10px;
  width: 30%;
  position: relative;

  @include breakpoints.custom-media-query(1720) {
    width: 27%;
  }

  @include breakpoints.custom-media-query(1050) {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: variables.$septenary;
  }

  &__score {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -35%);
    font-weight: 600;
    color: variables.$octonary;
    font-size: 28px;
    line-height: 25px;
    z-index: 3;

    span {
      font-size: 16px;
      color: variables.$tertiary;
      line-height: 15px;
    }
  }
}
