// Importation des module :
@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style Header :
.container__firstname {
  margin-bottom: 70px;
  line-height: 35px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: variables.$secondary;

    @include breakpoints.custom-media-query(320) {
      line-height: 50px;
      font-size: 40px;
    }

    span {
      color: variables.$primary;
    }
  }

  p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
}
