// Style WeightChart :
.container__weightcart {
  background-color: #fbfbfb;
  width: 100%;
  padding: 30px;
  border-radius: 10px;

  &__legend {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;

    h3 {
      font-size: 15px;
      font-weight: 600;
      color: #20253a;
      padding-top: 5px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;
      padding-right: 30px;

      li {
        list-style: disc;
        color: #74798c;
        font-weight: 500;
        font-size: 15px;
      }

      li:nth-child(1)::marker {
        font-size: 20px;
        color: #282d30;
      }

      li:nth-child(2)::marker {
        font-size: 20px;
        color: #e60000;
      }
    }
  }

  &__tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 25px 10px;
  }
}
