// Style error :
.container__error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 130px;

  img {
    width: 100%;
    max-width: 500px;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    width: max-content;
    color: #ff0002;
    text-align: center;
  }

  span {
    color: #ff0002;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
  }
}
