// Style Home :
.container__home {
  display: block;

  &__section {
    margin: 155px 90px 88px 210px;

    &__data {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;

      &__chart {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        width: 80%;

        &__kpi {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 35px;
          width: 100%;
        }
      }
      &__health {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
