// Importation des module :
@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style SideBar :
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: variables.$octonary;
  width: 117px;
  height: 100%;
  padding-top: 100px;

  @include breakpoints.custom-media-query(1400) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: variables.$quinary;
      border-radius: 5px;
      cursor: pointer;

      img {
        width: 36px;
        height: 32px;
      }
    }
  }

  p {
    color: variables.$quinary;
    font-weight: 500;
    font-size: 12px;
    transform: rotate(270deg);
    width: 140px;
  }
}
