@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style KpiPerformance :
.container__kpiperformance {
  background-color: variables.$quaternary;
  border-radius: 10px;
  width: 40%;

  @include breakpoints.custom-media-query(1570) {
    width: 38%;
  }

  @include breakpoints.custom-media-query(1400) {
    width: 40%;
  }

  @include breakpoints.custom-media-query(1050) {
    width: 100%;
  }
}
