@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style Navbar :
header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variables.$octonary;
    box-shadow: 0 4px 6px variables.$nonary;

    @include breakpoints.custom-media-query(1400) {
      height: 95px;
      justify-content: space-between;
    }

    img {
      width: 180px;
      height: 60px;
      margin-left: 28px;

      @include breakpoints.custom-media-query(600) {
        width: 140px;
        height: 50px;
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      height: 91px;
      width: 100%;
      margin-left: 50px;
      position: relative;

      @include breakpoints.custom-media-query(1400) {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        position: fixed;
        right: 0px;
        top: 94px;
        width: 50%;
        height: 100%;
        text-align: justify;
        gap: 35px;
        line-height: 50px;
        padding: 20px;
        background-color: variables.$secondary;
      }

      @include breakpoints.custom-media-query(600) {
        width: 60%;
      }

      @include breakpoints.custom-media-query(450) {
        width: 80%;
      }

      a {
        text-decoration: none;

        &.active {
          border-bottom: solid 2px variables.$quinary;
        }
      }

      a li {
        color: variables.$quinary;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        @include breakpoints.custom-media-query(1400) {
          font-size: 28px;
        }

        @include breakpoints.custom-media-query(600) {
          font-size: 23;
        }

        @include breakpoints.custom-media-query(450) {
          font-size: 20;
        }
      }
    }

    button {
      display: none;
      position: absolute;
      right: 35px;
      border: none;
      background: none;

      img {
        width: 40px;
        cursor: pointer;

        @include breakpoints.custom-media-query(600) {
          font-size: 30;
        }
      }

      @include breakpoints.custom-media-query(1400) {
        display: block;
      }
    }

    &__menu-visible {
      display: flex !important;
    }

    &__menu-hidden {
      display: none !important;
    }
  }
}
