// Style Header :
.container__firstname {
  margin-bottom: 70px;
  line-height: 35px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #000;

    span {
      color: #ff0101;
    }
  }

  p {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
  }
}
