// Importation des module :
@use "../../styles/utils/_variables";
@use "../../styles/utils/breakpoints";

// Style KpiObjective :
.container__kpiobjective {
  background-color: variables.$primary;
  border-radius: 10px;
  width: 30%;
  position: relative;
  transition: box-shadow 0.3s ease;

  @include breakpoints.custom-media-query(1720) {
    width: 27%;
  }

  @include breakpoints.custom-media-query(1050) {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: variables.$quinary;
    width: 60%;
    opacity: 0.8;
  }

  &__tooltip {
    background-color: variables.$quinary;
    color: variables.$secondary;
    padding: 13px 10px;
    border-radius: 5px;
  }
}
