// Variable color :
$primary: #ff0002;
$secondary: #000;
$tertiary: #74798c;
$quaternary: #282d30;
$quinary: #ffffff;
$senary: #fbfbfb;
$septenary: #20253a;
$octonary: #020203;
$nonary: rgba(0, 0, 0, 0.3);
