// Style KpiPerformance :
.container__kpiperformance {
  background-color: #282d30;
  border-radius: 10px;
  width: 40%;

  @media screen and (max-width: 1570px) {
    width: 38%;
  }

  @media screen and (max-width: 1400px) {
    width: 40%;
  }

  @media screen and (max-width: 1050px) {
    width: 100%;
  }
}
